<h1>Dashboard</h1>
<br>
<h4>Number of <a href="http://localhost:3000/admin/products">Products</a> in stock: </h4>
<%=@product_count%>
<br>
<h4>Number of <a href="http://localhost:3000/categories/1">Categories</a> offered: </h4>
<%=@category_count%>

